img {
	position: absolute;
	top: 250px;
	left: 280px;
}

a {
	margin: 2px;
	padding: 10px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	list-style-type: none;
	text-decoration: none;
	top: 80px;
	font-size: 35px;
	color: #fff;
	background-color: #000;
	border-radius: 8px;
	float: left;
	position: relative;
	left: 700px;
	animation-duration: 0.4s;
}

a:hover {
	background-color: darkgray;
	margin: 5px;
	animation-duration: 0.4s;
}
